<h2>About our store</h2>

<p>The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.</p>

<img src="assets/feladat2.png" alt="Best Plushie Store award">

<h2>Famous plushies</h2>

<div id="container">
    <div class="containers">
        <h3>Daniel the Dinosaur</h3>
        <p>A large dinosaur by famous plushie maker John Plush.</p>
    </div>

    <div class="containers">
        <h3>Ted</h3>
        <p>The first life-sized teddy bear in the country.</p>
    </div>

    <div class="containers">
        <h3>Coffee Cat</h3>
        <p>A controversial plushie that promoted drinking coffee to aid web development.</p>
    </div>
</div>

<h2>Provide feedback</h2>

<form action="" id="urlap">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="feedback">Feedback</label>
    <textarea name="feedback"></textarea>

    <button type="submit">Submit</button>
</form>
