<img src="assets/feladat3.jpg" alt="Homemade sock monkeys">

<blockquote>
“I never sleep alone. If there is no one to sleep next to, I'll sleep next to a stuffed animal. It makes me feel secure and safe. 
It's a little embarrassing to admit it; I'm an old man now. It's important to me though.” — Sayings
</blockquote>

<div>
    <p>The most common stuffed toys:</p>
    <ul>
	    <li>Bears</li>
        <li>Cats</li>
        <li>Dogs</li>
        <li>Zebras</li>
        <li>Tigers</li>
        <li>Pandas</li>
        <li>Lizards</li>
        <li>Elephants</li>
    </ul>
</div>