<header>
    <nav>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/history">History</a>
        <a routerLink="/toys">Plush toys</a>
        <a routerLink="/new-plushie">New plushie</a>
        <a routerLink="/inventory">Inventory</a>
    </nav>
</header>

<p>Welcome to the home page of the Acme Plushie Store!</p>

<p>On our site, you can learn about the history of various plushies and other types of stuffed animals and the founding of our store. You can also request new plushies to be added and view our current inventory.</p>

<p>Our site is still under active development, thus there might be some errors, bugs that we didn’t manage to squash yet. Thank you for your understanding.</p>

<p>We hope you enjoy your stay!</p>

<footer>Created by: Szabó Diána Éva</footer>
